<%- include("partials/header.ejs"); %>
<body>
    <div class="welcome-text">
        <h1 id="blog-welcome">Blog Welcome</h1>
        <p>Welcome to my first blog website! This is a capstone project</p>
    </div>
    <h1 id="posts-header">Posts</h1>
    <div class="blog-grid">
        <% if (locals.posts) { %>
            <% for(let i = 0; i < posts.length; i++) { %>
                <div class="post-container">
                    <div class="post-action">
                        <button type="button" class="btn edit-btn"><a href="/edit-post-<%= i %>">✍️</a></button>
                        <button type="button" class="btn delete-btn"><a href="/delete-post-<%= i %>">🗑</a></button>
                    </div>
                    <h1><%= posts[i].title %></h1>
                    <h2><%= posts[i].author %></h2>
                    <p><%= posts[i].content %></p>
                </div>
            <% } %>
        <% } else { %>
            <h2>No posts found.</h2>
        <% } %>
    </div>
</body>
<%- include("partials/footer.ejs"); %>